@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", "Courier New", Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  height: 105px;
}

header .menu {
  display: flex;
  align-items: center;
  ul {
    list-style-type: none;
    display: flex;
    height: 40px;
    justify-content: center;
    li {
      display: inline-block;
      margin: 5px;
      padding: 4px;
      a {
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
    }
    margin-right: 2em;
  }
}

.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
  .img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .pose {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  #logo_center {
    height: 60px;
    width: 200px;
  }
  div {
    margin-top: 1em;
    font-size: 29px;
    font-weight: 600;
    color: white;
  }
}

.section2 {
  flex-direction: column;
  .contenu1 {
    padding: 1.5em 6em;
    font-size: 1.5em;
    text-align: center;
  }
  .contenu2 {
    margin: 0px 20%;
    display: flex;

    .cards {
      padding: 1em;
      margin: 0px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 15px 0px;
      }
      p {
        text-align: center;
        margin: 10px 0 2px 0px;
        font-size: 14px;
      }
    }
  }
  .info {
    font-size: 20px;
    padding: 1.5em 14em;
    text-align: center;
  }
  div {
    text-align: center;
  }
}

footer {
  margin-top: 1.2em;
  background-color: rgb(77, 27, 143);
  padding: 1em;

  .foot1 {
    color: rgba(255, 255, 255, 0.822);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 1em;
    text-align: center;
  }
  .foot2 {
    margin: 0px 40%;
    display: flex;
    justify-content: space-between;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .foot3 {
    margin: 1em 4.5em 0em 4.5em;
    display: flex;
    justify-content: space-between;
    padding: 1em 0px;
    .links div {
      color: rgba(255, 255, 255, 0.589);
      font-weight: 600;
    }

    .links div ul {
      margin: 8px;
      position: relative;
      color: rgba(255, 255, 255, 0.82);
      font-weight: 600;
      left: 2em;
    }
  }
}
